{{- if .IsPage -}}
{{- $author := or .Params.author site.Params.name site.Title -}}
{{- $desc := .Summary | plainify | truncate 160 -}}
{{- $img := "" -}}
{{- with .Params.images }}{{ $img = index . 0 | absURL }}{{ else }}{{ with site.Params.images }}{{ $img = index . 0 | absURL }}{{ end }}{{ end -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": {{ .Title | jsonify | safeJS }},
  "description": {{ $desc | jsonify | safeJS }},
  "datePublished": "{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}",
  {{ if .Lastmod }}"dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}",{{ end }}
  "wordCount": {{ .WordCount }},
  "author": {
    "@type": "Person",
    "name": {{ $author | jsonify | safeJS }}
  },
  "publisher": {
    "@type": "Organization",
    "name": {{ site.Title | jsonify | safeJS }},
    "url": {{ site.BaseURL | jsonify | safeJS }}
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": {{ .Permalink | jsonify | safeJS }}
  }
  {{ if $img }},"image": {{ $img | jsonify | safeJS }}{{ end }}
}
</script>
{{- else -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": {{ site.Title | jsonify | safeJS }},
  "description": {{ (site.Params.description | default "A personal blog") | jsonify | safeJS }},
  "url": {{ site.BaseURL | jsonify | safeJS }}
}
</script>
{{- end -}}
